@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Dosis&display=swap');

body{
	margin: 0;
	padding: 16px;
    flex: 1;
	justify-content: center;
	align-items: center;
	font-family: 'Lexend Deca', sans-serif;
	overflow-Y: none !important;
}